body{

        color: rgb(255,178,102);
        font-family:monospace;
        margin:50px;
      }
div {

        min-height: 50vh;
        width: 100vw;
}

h1,h2{
  text-align:center;
}

h1{

  font-size:5em;

}
img {

    display: flex;
    padding: 20px;
  margin: 0 auto;
    border-radius:130px;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}

div.contrast {
  background-color: rgba(255, 0, 0, 0.5);
  color: (255,255,255)
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
