body{

        color: black;
        font-family:"Raleway";
        margin:0px;
        text-align: center;
      }

h1{
  font-family:"Bungee Shade";
  color: black;
  font-size:5em;
}

h2{
  font-family:"Bungee Hairline";
  color: black;
  font-size:1.8em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-image: linear-gradient(to right, #BBFF30, #6CD0E8, #9646BB, #FF7CB5);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
  font-family:"Bungee Hairline"
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(146,70,194,0.3);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(187,255,47,1);
  color: #1b6b34;
}
h1,h2{
  text-align:center;
}

}
img {

    display: flex;
    padding: 20px;
  margin: 0 auto;
    border-radius:130px;

}

div.instagram {
  height: 10em;
  display: flex;
  align-items: center
 }

 .card {
         width: 130px;
         height: 195px;
         position: relative;
         display: inline-block;
     }
     .card .img-top {
         display: none;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 99;
     }
     .card:hover .img-top {
         display: inline;
     }
