body {
background: rgb(255,80,200);
}

  h2{
    color: purple;
}
  p{
    color:red;
    font-family:cursive;
    margin:20px;
}

div{
  min-height: 50vh;
  width: 100vw;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

li#lower {
  margin-top: 7%;
}

li#lowest {
  margin-bottom: 50%;
  margin-left: 10%;
}

div.contrast {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}

li {
  margin: 0 20px
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
